// 單位
// template color
.tColor.tColor.tColor {
  color: $themeColor !important;
}

//  template background color
.tBGColor {
  background-color: $themeBGColor !important;
}

.o-6.o-6 {
  opacity: 0.6;
}

.fz-19x {
  font-size: 19px;
}
.fz-17x {
  font-size: 17px;
}
.fz-18x {
  font-size: 18px;
}
.fz-27x {
  font-size: 27px;
}

.mb-40x.mb-40x {
  margin-bottom: 40px;
}

.pr-8x {
  padding-right: 8px;
}
.pr-12x {
  padding-right: 12px;
}

.pb-20x {
  padding-top: 20px;

  padding-bottom: 20px;
}
.pb-10x {
  padding-top: 10px;

  padding-bottom: 10px;
}

.fz-12 {
  font-size: 12px;
  &::before {
    font-size: 12px;
  }
}

.fz-15 {
  font-size: 15px;
}
.fz-17 {
  font-size: 17px;
}
.fz-19.fz-19.fz-19 {
  font-size: 19px !important;
}
.fz-22 {
  font-size: 22px;
}

.fz-25 {
  font-size: 25px;

  @media screen and (max-width: $mq768) {
    font-size: 17px;
  }
}

.py-9p {
  padding-top: 9%;

  padding-bottom: 9%;
}

.px-120x {
  padding-right: 120px;

  padding-left: 120px;
}

.py-10x {
  padding-top: 10px;

  padding-bottom: 10px;
}
.py-20x {
  padding-top: 20px;

  padding-bottom: 20px;
}

.py-30x {
  padding-top: 30px;

  padding-bottom: 30px;
}

.px-10p {
  padding-right: 10%;

  padding-left: 10%;
}

.px-35x {
  padding-right: 35px;

  padding-left: 35px;
}

.bgcRed {
  background-color: red;
}

.mx-25p {
  margin-right: 25%;

  margin-left: 25%;
}

.mt--1 {
  margin-top: -1px;
}

.ml-4x {
  margin-left: 4px;
}

.pl-3x-mq320 {
  padding-left: 3px;
}

.pl-2x {
  padding-left: 2px;
}
.pl-6x {
  padding-left: 6px;
}
.pl-110x {
  padding-left: 110px;
}

.o-1.o-1 {
  opacity: 1;
}

.o-5 {
  opacity: 0.5;
}

.fz-15 {
  font-size: 15px;
}
.fz-20.fz-20 {
  font-size: 20px;
}
.fz-60.fz-60 {
  font-size: 60px;

  @media screen and (max-width: $mq768) {
    font-size: 35px;
  }
}

.bs-1 {
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
}

.w-24x {
  width: 24px;
}

.w-30x {
  width: 30px;
}

// border
.border-5{
  border-radius: 5px;
}
.border-10{
  border-radius: 10px;
}

.d-none{
  display: none !important;
}