<!-- And here is our main footer that is used across all the pages of our website -->
<footer class="container">
  <div class="row">
      <div class="col-12">
          <div class="copywrite-content d-flex flex-wrap justify-content-center align-items-center">
              <p class="copywrite-text"><a href="#">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> by 
                <a href="https://www.mterrace.com.tw" target="_blank">mTERRACE</a> All rights reserved
              </p>
          </div>
      </div>
  </div>
</fo>