<head>
  <meta charset="UTF-8" />
  <title>mTERRACE</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=big5" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- 搜索引擎 -->
  <meta name="KeyWords" content="泰睿思股份有限公司, mTERRACE" />
  <meta name="KeyWords" content="#" />
  <!-- 網頁作者 -->
  <meta name="author" content="Jaacky" />
  <!-- 關於網站的內容描述 -->
  <meta name="description" content="##" />
  <meta name="copyright" content="mTERRACE">
  <meta name="URL" content="https://www.mterrace.com.tw/"> 

  <link rel="stylesheet" href="#" />
</head>
